// @import '../../node_modules/stylus-px2rem'
//
// @media screen and (max-width 768px) {
//   html-font-size = 25px
// }

/*
*全局颜色设置
*
*/
body-color = #ecf0f5
color-main = #0081cc
color-hover = #337ab7
color-menu-bg = #304156
color-menu-bg-hover = #242b33
color-menu = #fff
color-button-more =#20a0ff
color-border-blue = #20a0ff


font-color-yellow = #ff9616
font-color-red = #db5252
font-color-green = #68ad56
font-color-darkblack = #333
font-color-black = #3f3f3f
font-color-lightblack = #838383
font-color-lightgray = #eee
font-color-gray = #ccc

border-color = #e6ebf5
icon-color = #b4bccc

/***********************/
font-color = #687284
$nav-height = 68px

$max-device-width = 768px

$text-ellipsis()
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
